attrs>=24.2.0
beautifulsoup4>=4.12.3
certifi>=2024.8.30
idna>=3.10
openpyxl>=2.5.1  # Modern Excel file support
natsort>=5.2.0  # Sorting helper
pendulum>=3.0.0  # Advanced datetime handling
robotframework>=7.1.1
robotframework-seleniumlibrary>=6.3.0  # Selenium-based web testing
robotframework-excel>=1.0.0b4  # For working with Excel in Robot Framework
selenium>=4.26.1  # Web automation
soupsieve>=2.6  # CSS selector library for BeautifulSoup
tzdata>=2024.2  # Timezone data
urllib3>=2.2.3  # HTTP client library
robotframework-retryfailed>=1.0.6  # Handling retry logic for failed tests
chromedriver-autoinstaller>=0.5.2  # Automatically installs ChromeDriver